.ul-list{
list-style-type: none !important;
display: inline-flex !important;
justify-content: left;
align-items: left;
padding-left: 0px;
margin-left: 0;



}
.contain-{
margin: 0px 40px;

}
.row{
    padding-left:0px ;
}
.active{
    background-color: #316dc3;
    color: white;
}
#container{
    width: 1200px;
    height: auto;
    margin: 1200 auto;
}
#container-fluid{
background-color: #316dc3;
}
.row1-col1-icons-a{
    text-decoration: none !important;
    

    color: white;
    
}
.button-container{
    margin-bottom: 0px;
}
.container-icons{
    margin-right: 100px;
    margin-bottom: 20px;
    
}
.container-Millions{
    

    height: 60px;
    padding: 0;
    
    margin-left: 0px;
    margin-right: 25px;

}
.row1-col2-para{
    font-size: 16px;
    float: right;

   

font-size: 19px;
color: white;

font-family: 'Open Sans', sans-serif;

}
.container-image-logo-{
    text-align: center;
    /* margin-left: 30px; */
    /* padding-left: 30px; */
    margin-top: 15px;
    margin-bottom: 7px;
}
.container-ul-{

margin-bottom: 7px;
display: flex;
margin-top: 15px;
float: right;
/* padding: 20px 0; */


}
.nav-link{
text-decoration: none;


padding: 10px 15px;
    border-radius: 30px;
    color: black;
    font-size: 16px;
}
.nav-link:hover{
    color: white;
    text-decoration: none;
}
.row1-col1-icons-li{
    
    text-align: center;
    background-color:#316dc3 ;
width: 35px;
text-decoration: none;
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    /* margin-bottom: 5px; */
}
.row1-col1-icons-li:hover{
    background-color:  rgb(116, 148, 243);
    transition: 0.5s ease;
    /* border: 1px solid black; */
    
}
.row1-col1-icons-li:last-child{
    margin-right: 0px;
    float: left;
}
.row1-col1-icons-img-div{
    
    text-align: center;

    width: 30px;
    margin: 10px 5px;
    height: auto;
    /* float: left; */
    padding: 0px auto;
    
    
}
#row{
    padding: 0;
    margin: 0;
}
#row1-col3-button-container,#row1-col2-para-container,#row1-col1-icons{
    margin-left: 0px;
    margin-right: 0px;

}
.row1-col1-icons-img-div:hover{
    background-color: rgb(116, 148, 243);
}
.row1-col1-icons-img{
width: 15px;
}
.row1-col1-icons-img:hover{
    background-color:  rgb(116, 148, 243);
}
.row1-col1-icons-a:hover{
    color: white;


}


@font-face{
    font-family:'Raleway-Regular';
   src: url('fonts/Raleway/Raleway-Regular.ttf');
}
/* this is the actual paragraph in row 1 */

#row1-col2-para-container{
    
     margin-top: 15px;
     width: auto;
    /* margin-bottom: 5px; */
}

/* this is the buttons container at top */
#row1-col3-button-container{
    
     margin-top: 10px;
    
    /* margin-bottom: 5px; */
}
.row1-col3-button{
    width: auto;
    height:auto;
    padding: 5px 7px;
    
    color: rgba(0, 0, 0,0.7);

}
#row1-col3-button1{

    margin-top: 5px;
}
#row1-col3-button3{
    margin-top: 2px;
    padding: 5px 7px;
}
.row1-col3-button{
    border: none;
    background-color: whitesmoke;
}
.row2-col1-ul{
    
list-style-type: none;
    text-decoration: none;
    display: flex;
    padding-left: 0px;
}

.row2-col1-li{
    font-size: 16px;
    /* padding: 10px 15px; */
    border-radius: 30px;
    color: white;
     

}
.row2-col1-lih{
    font-size: 16px;
    /* padding: 10px 15px; */
    border-radius: 30px;
    color: white;
}
.row2-col1-li:hover,.row2-col1-lih:hover{
    cursor: pointer;
    color: white;
    transition: 0.6s ease;
    background-color: #316dc3;
}
.row2-col1-li-a:hover{
    color: white;
    background-color: #316dc3;
}
#Saylanidrop:hover .dropdown{
display: block;

}
#container-fluid-afterimage{
    background-color: #ffffff;
    color: white;
    line-height: 3px;
    text-align: center;
    vertical-align: middle;

}
#container-afterimage{
    background-color: #316dc3;
    color: white;
    line-height: 3px;
}
@font-face{
    
    
    font-family: 'RobotoSlab-Regular';
    src: url('fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf');
}@font-face{
    font-family: 'CrimsonText-Regular';
    src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf');
}
@font-face{
    font-family: 'CrimsonText-Bold';
    src: url('fonts/Crimson_Text/CrimsonText-Bold.ttf');
}
#intro{
    color: #4d81cb;
    font-family: 'Merriweather-Regular';
    
}
#duction{
    color: #427900;
    font-family: 'Merriweather-Regular';

}
#logo-main-container{
    width: 100%;
    height: 2.5em;
    
    align-items: center;
}
#paragraph{
    
    
    line-height: 1.9em;
    opacity: 0.7;
    font-size: 17px;
    text-align: justify;

}

#paragraph-section{
padding: 20px 0;
/* padding-bottom: 30px; */
margin-bottom: 40px;


}
#section-amount{
margin-top: 20px;
background-color: #2655e8;
}
#amount{
    background-color: #2655e8;
    /* padding: 50px; */
}
.amount-row1-col{
    /* text-align: center; */
    color: white;
    height: auto;
}
@font-face{
    font-family:'Merriweather-Regular' ;
    src: url('fonts/Merriweather/Merriweather-Regular.ttf');
}
.row-col-span{
    font-family:'Merriweather-Regular';
    color:#00FF00;
    font-weight: bold;
    font-size: 17px;

}
.row-h2{
    font-size: 3.5rem !important;
}
.row1-img{

    width: 50px;
    height: auto;
    margin: 2px;
    margin-bottom: 2px;
}
/* .row{
    
} */
.row-h5{
    margin-bottom: 5px;
    font-family:'Merriweather-Regular';
    font-weight: bold;
    font-size: 16px;


}

.row-h2{
font-family: 'Merriweather-Regular';

}
.row-h5 span{

    font-family:'CrimsonText-Bold';
    
}
.section-services,.main-content{
    background-color: rgb(248, 246, 246);
}
#whatwe,#are-doing{
    font-weight: bold;
    font-family:'RobotoSlab-Regular';
}.services-h3{
    color: #316DC3;
    font-family: 'Merriweather-Regular';
    font-weight: bold;
    font-size: 20px;

}
.services-div{
    background-color: white;
    margin: 15px;
    /* width:350px; */
    padding: 40px;
    box-shadow: 1px 1px 30px rgba(9, 9, 9, 0.15);
/* box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.16); */

}
.services-img{
    width: 70px;
    margin:7px;
    cursor: pointer;
}


.mis{
    float: left;
    padding: 5px 0;
    font-size: 25px;
    color: #316DC3;
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
    border-bottom: 2px solid #427900;

}
.upc{
    float: left;
    
    color: #316DC3;
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
    padding: 5px 0;
    font-size: 25px;
    border-bottom: 2px solid #427900;

}

.third{
    height: 0px;
    clear: both;
}

.sion{
    padding: 5px 0;
    font-size: 25px;
    color: #316DC3;
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
float: left;
}
.oming{
    width: 220px;
    font-size: 25px;
    padding: 5px 0;
    color: #316DC3;
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
float: left;

border-bottom: 2px solid rgba(230, 230, 230, 0.7);
}
.innerrow-div-div2{
    
    padding: 5px;
    height: 70px;
    padding-top: 8px;
    vertical-align: middle;
    align-items: baseline;
    

}
.innerrow-div-div2-h4{
    font-family: 'CrimsonText-Regular';
    font-size: 18px;
    font-weight: bold;
    color: #316DC3;
}
.innerrow-div-div2,.innerrow-div-div1{
    float: left;
}
.innerrow-div-div1{
    padding: 5px;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.innerrow-div-above{
    
    background-color: rgb(246, 243, 243);
    margin-top: 10px;
    margin-bottom: 5px;

    border: 1px solid black;
    /* border: 1px solid rgba(0, 0, 0,0.9); */
    /* width: 320px; */
    align-items: center;
    /* border: 1px solid rgba(0, 0, 0,0.5); */
    border:none;
    height: 70px;
}
.innerrow-div-below{
    border: 1px solid rgba(0, 0, 0,0.9);
    background-color: rgb(246, 243, 243);
margin-top: 5px;
margin-bottom: 5px;
border:none;
    height: 70px;
    /* width: 320px; */
    align-items: center;


}
#marquee-para{
    font-size: 15px;
}
#Image{
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
    font-size: 30px;

}
#Gallery{
    font-family: 'CrimsonText-Regular';
    font-weight: bold;
}
.inner-image-div{
float: left;

}
.contain{
margin-left: 5%;
margin-right: 5%;

}

.footer-ul{
    padding: 0;
    margin-left: 2px;
    list-style-type: none;
}

.li-footer,.paragraph-footer{
    font-size: 16px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: rgba(255, 254, 254,0.7);
}
.footer-icon{
color:#427900;
}
.Useful{
    color: white;
    font-size: 17px;
    padding-bottom: 7px;
    border-bottom: 2px solid #427900;
    font-family: 'CrimsonText-Regular';
    font-weight: bold;

}
.Links{
    font-size: 17px;
    padding-bottom: 7px;
color: white;
font-family: 'CrimsonText-Regular';
width:300px;
    font-weight: bold;
border-bottom: 2px solid rgba(255, 255, 255,0.2);

}
.footer-Connect{
    color: white;  
    font-family: 'Merriweather-Regular';
    font-weight: bold;
    padding-bottom: 7px;
}
.ul-footer-connect{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

}
.icon-footer-connect{
margin: 5px;
    background-color: #2655e8;
    border-radius: 50px;
    border: none;
}
.icon-footer-connect i,.icon-footer-connect-f i{
    margin:10px;
    color: white;
}

.connect-list{
    margin-right: 3px;

}
.connect-list:hover{
cursor: pointer;
}


.icon-footer-connect-f{
    margin: 5px;
    background-color: #2655e8;
    border-radius: 100%;
    border: none; 
}
.text-center-{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}
.copyright{
    
    height: 50px;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}
.gototop-div{
    float: right;
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    
    text-align: center;
    line-height: 50px;
    background-color: rgba(3, 3, 3,0.2);
}
.gototop-icon{
    position: fixed;
    bottom: 15px;
    right: 10px;
    color: white;
    width: 50px;
height:50px;
    line-height: 50px;
    margin: 10px 10px 5px 5px;
}
.clear{
    clear: both;
}
.icon--{
    
    float: right;
    
    display:none;
    margin-top: 35px;
    color: #2655e8;
    width: 40px;
    height: auto;
    

    
}
@media (max-width:1100px){
    
        .contain{

                        margin-left: 2%;
                        margin-right: 2%;
                    }
                    

        .row2-col1-ul{
                    display: none;

                }   
                .icon--{

                    display: block;

                }
                .row1-col2-para{
                    float: none;
                }

}
@media (max-width:950px){
    #contain-marquee{
        margin-left: 0%;
        margin-right: 0%;
    }
.Links{
    width: 500px;
}
    .container-ul-{
        display: none;

    }   
    .icon--{
        display: block;
    }
    

}
/* @media(max-width:1100px){

} */
.contain-ul ul ul{
    /* position: relative; */
    display: none;

    list-style-type:none;
    margin: 0;
    padding: 0;
    
    position: absolute;
    z-index: 99;
    top: 65px;
    right: auto;    
    min-width: 180px;
    white-space: nowrap;
    background: #fff;

   
}
.last-ul{
    position: absolute;
    top: 0;
    right: 100%;
    

}

.contain-ul ul li:hover > ul{
display: block;
}


/* Here onwards */
.nav-ul-li-a {
    transition: 0.6s ease;
    border-radius: 25px;
    padding: 5px 10px;
    line-height: 50px;
    text-decoration: none;

    color: black;
}
.sticky{
    position:sticky;
    top: 0px;
    

}

.nav-ul-li-a:hover,
.nav-ul li a.active {
    color: white;
    text-decoration: none;
    background-color: #316dc3;

}

.nav-ul {
    list-style-type: none;
    float: right;
    display: flex;
    padding: 5px;
    padding-left: 0px;
    line-height: 55px;
    height: 55px;
    
}
a{
    text-decoration: none;
}
.contain-ul ul ul li{
    padding: 5px;
    position: relative;
    line-height: 30px;
    
    height: 30px;
    margin: 0;
}
.contain-ul ul ul a{
    color: rgba(0, 0, 0,0.7);
    padding: 10px;
    line-height: 100%;    
    font-family: sans-serif;
    font-weight:700px;
    font-size: 15px;
}
.contain-ul ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}
.contain-ul ul ul ul:last-child{
    top:0;
    margin: 0;
    padding: 0;
    right: 100%;
}
.contain-ul ul ul li:hover{
    background-color: #2655e8;
    color:whitesmoke;
    margin-left: 7px;
}
.cpntain-ul ul ul li:hover +i{
    
    color: whitesmoke;
}
.contain-ul ul ul li:hover > a{
    color: whitesmoke;
    text-decoration: none;
    line-height: 30px;
    height: 100%;
    
    margin-left: 7px;
}
.nav-ul-li {
    
    width: auto;
    margin: 5px 0px;
    /* line-height: 55px; */
    height: 55px;
    display: inline-block;
}
.icon--{
    line-height: 50px;
height: 50px;
float: right;
display: none;
margin-top:20px;
color: #316dc3;
}
.contain{
    margin-left: 5%;
    margin-right: 5%;
}
@media (max-width: 900px){
    .nav-ul{
        display: none;

    }

    .icon--{
        display: block;
    }
}




/* @media (max-width:2560px){
   
 
.row2-col1-ul{
    display: flex;
} 

} */